<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>238641678238-k0a2h8cvbbqqjoqnuka6732nm6goe15e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.238641678238-k0a2h8cvbbqqjoqnuka6732nm6goe15e</string>
	<key>API_KEY</key>
	<string>AIzaSyB6A9SGNJqsnyjUZalGY1UNc2hlgf3uzBU</string>
	<key>GCM_SENDER_ID</key>
	<string>238641678238</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.thePause</string>
	<key>PROJECT_ID</key>
	<string>the-pause-ffcda</string>
	<key>STORAGE_BUCKET</key>
	<string>the-pause-ffcda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:238641678238:ios:8a7caad7161d096c81388f</string>
</dict>
</plist>